---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="px-5 -mt-10 md:px-20 grid lg:grid-cols-2 lg:mx-10">
    <div>
      <h3 class="font-bold" id="om-mig">Lidt om mig</h3>
      <p class="slide-top">
        Jeg er 24 år, og kommer fra Vordingborg. Kreativitet har altid været en
        del af min hverdag, da jeg har gået på en rudolf steinerskole helt fra
        børnehave og indtil 10. klasse. Derefter har jeg gået i musikklasse på
        gymnasiet, og har i min fritid gået til forskellige instrumenter,
        billedeskole og har også afsluttet et tre års filmskole gennem
        ungdomsskolen.
      </p><br />
      <p class="slide-top">
        I de to semestre jeg har læst Multimediedesign på Erhvervsakademiet
        København (EK) har jeg lært at kode i VS i forskellige kodesprog, bruge
        figma til forarbejde, og forskellige Adobe programmer som Illustrator,
        After Effects og Premier Pro.
      </p>
    </div>
    <div>
      <img
        src="/luna-img5.webp"
        alt="digital billede af lejlighed"
        class="w-110 mx-auto mt-10 lg:my-20 lg:w-90"
      />
    </div>
  </section>

  <div class="border-t-2 border-border my-20 mx-5 lg:mx-20"></div>

  <!-- <section
    class="px-5 md:mr-30 md:p-20 lg:mx-10 lg:mr-130 border-2 border-darkgreen mx-10 my-20"
  > -->

  <!-- <div class="border-t-2 border-border my-20 mx-5 lg:mx-20"></div> -->

  <section class="px-5 md:px-20">
    <h3 id="cv" class="font-bold lg:ml-10">Mit CV</h3>
    <div class="grid lg:grid-cols-2 lg:grid-rows-2">
      <div
        class="lg:mx-10 lg:row-start-1 lg:row-end-2 lg:col-start-1 lg:col-end-2"
      >
        <h4>Uddannelse</h4>
        <ul>
          <li>
            Grundskole, Rudolf Steiner Skolen, Vordingborg — 2007 - 2018
          </li><br />
          <li>
            Gymnasieuddannelse (STX), Vordingborg Gymnasium og HF — 2018 - 2021
          </li><br />
          <li>
            Sygeplejerskeuddannelsen, KP, København — september 2023 - januar
            2024
          </li><br />
          <li>Multimediesign, EK, København  — august 2024 - igangværende</li>
        </ul>
      </div>

      <img
        src="/luna-img3.webp"
        alt="billede af luna"
        class="my-15 w-110 mx-auto md:w-100 md:mx-0 lg:col-start-1 lg:my-0 lg:col-end-2 lg:row-start-2 lg:row-end-4 lg:mx-auto lg:w-130 lg:mt-10"
      />

      <div class="lg:mx-10 lg:row-start-1 lg:row-end-3">
        <h4>Erfaring</h4>
        <ul class="leading-8">
          <li>Barnepige — 2016 - 2023</li><br />
          <li>
            Rengøring i udlejnings ejendomme, PBH NR. 22.071 ApS, Lundby — 2019
            - 2021
          </li><br />
          <li>
            Pædagogmedhjælper, Stjerneskuddet, Vordingborg — Oktober 2021- juni
            2022
          </li><br />
          <li>
            Vikar, Rudolf Steiner Skolen, Vordingborg — August - December 2022
          </li><br />
          <li>
            Omsorgsmedhjælper, Marjatta, Præstø — September 2022 - januar 2023
          </li><br />
          <li>
            Kundekonsulent for Danske Bank (projektansættelse på 3 måneder), 5R
            People Næstved afdeling — februar - april 2023
          </li><br />
          <li>
            Gæsteliste/vagt, Takin’ Care of Business  — juni 2023 - juli 2024
          </li><br />
          <li>
            Pædagogmedhjælper (tilkaldevikar), Børnehuset Adilsvej,
            Frederiksberg  — februar - juli 2024
          </li><br />
          <li>
            Servicemedarbejder, Falkoner Salen, Frederiksberg — april - oktober
            2024
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="grid lg:grid-cols-2">
    <div
      class="border-2 border-border mx-5 px-5 mb-10 py-10 mt-20 md:p-10 md:mx-30 lg:mt-0 lg:order-last"
    >
      <h3 class="font-bold pb-10">Mine kompetencer</h3>
      <ul>
        <li class="flex items-center gap-18 pb-4 lg:gap-20">
          <span class="w-30 text-xl md:text-2xl md:w-60">Illustrator</span>
          <div class="flex gap-2 lg:gap-3">
            <!-- Fyldt cirkel -->
            <div
              class="w-4 h-4 rounded-full bg-border md:w-5 md:h-5 lg:w-6 lg:h-6"
            >
            </div>
            <div
              class="w-4 h-4 rounded-full bg-border md:w-5 md:h-5 lg:w-6 lg:h-6"
            >
            </div>
            <div
              class="w-4 h-4 rounded-full bg-border md:w-5 md:h-5 lg:w-6 lg:h-6"
            >
            </div>
            <div
              class="w-4 h-4 rounded-full border-1 border-border md:w-5 md:h-5 lg:w-6 lg:h-6"
            >
            </div>
            <div
              class="w-4 h-4 rounded-full border-1 border-border md:w-5 md:h-5 lg:w-6 lg:h-6"
            >
            </div>
          </div>
        </li>
        <li class="flex items-center gap-18 pb-4 lg:gap-20">
          <span class="w-30 text-xl md:text-2xl md:w-60">VS Code</span>
          <div class="flex gap-2 lg:gap-3">
            <!-- Fyldt cirkel -->
            <div
              class="w-4 h-4 rounded-full bg-border md:w-5 md:h-5 lg:w-6 lg:h-6"
            >
            </div>
            <div
              class="w-4 h-4 rounded-full bg-border md:w-5 md:h-5 lg:w-6 lg:h-6"
            >
            </div>
            <div
              class="w-4 h-4 rounded-full bg-border md:w-5 md:h-5 lg:w-6 lg:h-6"
            >
            </div>
            <div
              class="w-4 h-4 rounded-full bg-border md:w-5 md:h-5 lg:w-6 lg:h-6"
            >
            </div>
            <!-- Tom cirkel -->
            <div
              class="w-4 h-4 rounded-full border border-border relative overflow-hidden md:w-5 md:h-5 lg:w-6 lg:h-6"
            >
              <div class="absolute top-0 left-0 w-1/2 h-full bg-border"></div>
            </div>
          </div>
        </li>
        <li class="flex items-center gap-18 pb-4 lg:gap-20">
          <span class="w-30 text-xl md:text-2xl md:w-60">After Effects</span>
          <div class="flex gap-2 lg:gap-3">
            <!-- Fyldt cirkel -->
            <div
              class="w-4 h-4 rounded-full bg-border md:w-5 md:h-5 lg:w-6 lg:h-6"
            >
            </div>
            <div
              class="w-4 h-4 rounded-full bg-border md:w-5 md:h-5 lg:w-6 lg:h-6"
            >
            </div>
            <div
              class="w-4 h-4 rounded-full border-1 border-border relative overflow-hidden md:w-5 md:h-5 lg:w-6 lg:h-6"
            >
              <div class="absolute top-0 left-0 w-1/2 h-full bg-border"></div>
            </div>
            <div
              class="w-4 h-4 rounded-full border-1 border-border md:w-5 md:h-5 lg:w-6 lg:h-6"
            >
            </div>
            <div
              class="w-4 h-4 rounded-full border-1 border-border md:w-5 md:h-5 lg:w-6 lg:h-6"
            >
            </div>
          </div>
        </li>
        <li class="flex items-center gap-18 pb-4 lg:gap-20">
          <span class="w-30 text-xl md:text-2xl md:w-60">Figma</span>
          <div class="flex gap-2 lg:gap-3">
            <!-- Fyldt cirkel -->
            <div
              class="w-4 h-4 rounded-full bg-border md:w-5 md:h-5 lg:w-6 lg:h-6"
            >
            </div>
            <div
              class="w-4 h-4 rounded-full bg-border md:w-5 md:h-5 lg:w-6 lg:h-6"
            >
            </div>
            <div
              class="w-4 h-4 rounded-full bg-border md:w-5 md:h-5 lg:w-6 lg:h-6"
            >
            </div>
            <div
              class="w-4 h-4 rounded-full bg-border md:w-5 md:h-5 lg:w-6 lg:h-6"
            >
            </div>
            <!-- Tom cirkel -->
            <div
              class="w-4 h-4 rounded-full border border-border relative overflow-hidden md:w-5 md:h-5 lg:w-6 lg:h-6"
            >
            </div>
          </div>
        </li>
        <li class="flex items-center gap-18 pb-4 lg:gap-20">
          <span class="w-30 text-xl md:text-2xl md:w-60">Premier Pro</span>
          <div class="flex gap-2 lg:gap-3">
            <!-- Fyldt cirkel -->
            <div
              class="w-4 h-4 rounded-full bg-border md:w-5 md:h-5 lg:w-6 lg:h-6"
            >
            </div>
            <div
              class="w-4 h-4 rounded-full bg-border md:w-5 md:h-5 lg:w-6 lg:h-6"
            >
            </div>
            <div
              class="w-4 h-4 rounded-full border-1 border-border relative overflow-hidden md:w-5 md:h-5 lg:w-6 lg:h-6"
            >
              <div class="absolute top-0 left-0 w-1/2 h-full bg-border"></div>
            </div>
            <div
              class="w-4 h-4 rounded-full border-1 border-border md:w-5 md:h-5 lg:w-6 lg:h-6"
            >
            </div>
            <div
              class="w-4 h-4 rounded-full border-1 border-border md:w-5 md:h-5 lg:w-6 lg:h-6"
            >
            </div>
          </div>
        </li>
        <li class="flex items-center gap-18 pb-4 lg:gap-20">
          <span class="w-30 text-xl md:text-2xl md:w-60">Photoshop</span>
          <div class="flex gap-2 lg:gap-3">
            <!-- Fyldt cirkel -->
            <div
              class="w-4 h-4 rounded-full bg-border md:w-5 md:h-5 lg:w-6 lg:h-6"
            >
            </div>
            <div
              class="w-4 h-4 rounded-full bg-border md:w-5 md:h-5 lg:w-6 lg:h-6"
            >
            </div>
            <div
              class="w-4 h-4 rounded-full border-1 border-border md:w-5 md:h-5 lg:w-6 lg:h-6"
            >
            </div>
            <div
              class="w-4 h-4 rounded-full border-1 border-border md:w-5 md:h-5 lg:w-6 lg:h-6"
            >
            </div>
            <div
              class="w-4 h-4 rounded-full border-1 border-border md:w-5 md:h-5 lg:w-6 lg:h-6"
            >
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- <div>
      <img
        src="/luna-img5.webp"
        alt="billede af luna"
        class="my-15 w-110 mx-auto md:w-100 md:mx-0 lg:mx-auto lg:w-130 lg:mt-10 lg:order-first"
      />
    </div> -->
  </section>

  <div class="border-t-2 border-border my-20 mx-5 lg:mx-20"></div>

  <section class="px-5 md:px-20 grid lg:grid-cols-2 lg:mx-10 lg:mb-20">
    <div class="lg:mr-10">
      <h3 id="projekter" class="font-bold">Tidligere projekter</h3>
      <p>
        Gennem multimedieuddannelsen har jeg arbejdet i nogle nye programmer, og
        har mærket et stort fremskridt i mine kompetencer i at udfolde mig
        kreativt. Gennem semestrene har jeg lavet en del design og kodeopgaver,
        og har selv mærket kæmpe fremgang i det hele. Jeg har en fortsat stor
        nysgerrighed og lyst til at lære nyt. <br />Her kan du se nogle af mine
        tidligere projekter.
      </p>
    </div>
    <div
      class="border-2 border-border mx-5 px-5 mb-10 py-10 mt-20 md:p-10 lg:mt-0"
    >
      <ul>
        <a href=" https://surdejsite.netlify.app/"
          ><li class="hover:text-orange duration-300 delay-100">
            → Hjemmeside om surdej (mit første projekt)
          </li></a
        ><br />
        <a href="https://westh-portfolio.netlify.app/"
          ><li class="hover:text-green duration-300 delay-100">
            → Eksamen 1. semester (eget portfolio)
          </li></a
        ><br />
        <a href="https://keramik-site.netlify.app/"
          ><li class="hover:text-pink duration-300 delay-100">
            → Hjemmeside med keramik (gruppeprojekt)
          </li></a
        ><br />
        <a href="https://pleasantt.netlify.app/ "
          ><li class="hover:text-orange duration-300 delay-100">
            → Dynamisk side for tøjmærke (gruppeprojekt)
          </li></a
        ><br />
        <a href="https://anotherclosett.netlify.app/"
          ><li class="hover:text-green duration-300 delay-100">
            → Eksamensprojekt 2. semester (gruppeprojekt)
          </li></a
        >
      </ul>
    </div>
  </section>
</MainLayout>
