---

---

<div class="py-12 h-auto bg-[url('/footer.jpg')] bg-cover bg-center">
  <div
    id="kontakt"
    class="max-w-7xl mx-auto px-5 lg:px-20 grid grid-cols-1 md:grid-cols-3 gap-8"
  >
    <!-- Navigation links -->
    <div class="flex flex-col space-y-2">
      <h3 class="text-lg text-yellow">Links</h3>
      <a
        href="#om-mig"
        class="text-yellow hover:text-green transition-colors text-sm duration-300 delay-50"
        >Om mig</a
      >
      <a
        href="#cv"
        class="text-yellow hover:text-green transition-colors text-sm duration-300 delay-50"
        >CV</a
      >
      <a
        href="#projekter"
        class="text-yellow hover:text-green transition-colors text-sm duration-300 delay-50"
        >Projekter</a
      >
    </div>

    <!-- Kontakt / sociale medier -->
    <div class="flex flex-col space-y-2">
      <h3 class="text-lg text-yellow">Kontakt</h3>
      <p class="text-yellow text-sm">Email: luwe0002@stud.ek.dk</p>
      <p class="text-yellow text-sm">Telefon: +45 50 55 14 07</p>
    </div>

    <div class="flex flex-col space-y-2">
      <a href="https://github.com/lunawesth">
        <h3
          class="text-yellow text-lg hover:text-green pb-2 md:text-center duration-300 delay-50"
        >
          Se min Github her
        </h3>
        <div class="md:place-items-center">
          <img src="/git-logo.png" alt="github logo" class="mb-10" />
        </div>
      </a>
    </div>
  </div>

  <!-- Copyright -->
  <div
    class="mt-12 border-t border-yellow pt-10 text-center text-yellow text-sm md:pt-15"
  >
    &copy; 2025 LUNA TORP WESTH. Alle rettigheder forbeholdes.
  </div>
</div>
