---

---

<section class="h-full bg-[url('/luna-img.webp')] bg-cover bg-center">
  <div
    class="flex flex-row place-content-end pr-5 pt-6 md:mr-10 gap-10 lg:mr-20"
  >
    <a
      href="#om-mig"
      class="hover:text-pink text-yellow font-bold duration-300 delay-50"
      >Om mig</a
    >
    <a
      href="#cv"
      class="hover:text-pink text-yellow font-bold duration-300 delay-50">CV</a
    >
    <a
      href="#projekter"
      class="hover:text-pink text-yellow font-bold duration-300 delay-50"
      >Projekter</a
    >
    <a
      href="#kontakt"
      class="hover:text-pink text-yellow font-bold duration-300 delay-50"
      >Kontakt</a
    >
  </div>

  <div class="mb-20 pointer-events-none">
    <h1
      class="text-right mt-10 pr-3 transform scale-y-128 lg:mt-12 lg:text-right lg:mr-20 overflow-hidden"
    >
      LUNA
    </h1>
    <h2 class="text-right pr-3 -mt-10 transform scale-y-125 md:mr-10 lg:mr-20">
      TORP WESTH
    </h2>

    <h3
      class="font-bold text-yellow text-right pr-3 md:ml-50 md:mt-4 md:text-center lg:ml-100"
    >
      MULTIMEDIEDESIGNER
    </h3>
  </div>
</section>
