---

---

<section class="h-full bg-[url('/luna-img.webp')] bg-cover bg-center">
  <div class="h-full w-full flex items-center justify-center text-white"></div>
  <div
    class="flex flex-row place-content-end pr-5 pt-6 md:mr-10 gap-10 lg:mr-20"
  >
    <a href="#om-mig" class="hover:text-pink font-bold">Om mig</a>
    <a href="#cv" class="hover:text-green font-bold">CV</a>
    <a href="#projekter" class="hover:text-orange font-bold">Projekter</a>
    <a href="#kontakt" class="hover:text-pink font-bold">Kontakt</a>
  </div>

  <div class="mb-20 pointer-events-none">
    <h1
      class="text-center mt-10 transform scale-y-128 lg:mt-12 lg:text-right lg:mr-20"
    >
      LUNA
    </h1>
    <h2 class="text-right pr-3 -mt-10 transform scale-y-125 md:mr-10 lg:mr-20">
      TORP WESTH
    </h2>

    <h3
      class="font-bold text-right pr-1 md:ml-50 md:mt-4 md:text-center lg:ml-100"
    >
      MULTIMEDIEDESIGNER
    </h3>
  </div>
</section>
<!-- <img
  src="/cutout.webp"
  alt="cutout af luna"
  class="w-50 -mt-54 z-10 relative md:-mt-80 md:ml-10 md:w-70 lg:w-100 lg:-mt-100"
/> -->
